@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */




@font-face {
    font-family: 'Roboto Light';
    src: url('../css/fonts/roboto_light_spanish/Roboto-Light-webfont.eot');
    src: url('../css/fonts/roboto_light_spanish/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/roboto_light_spanish/Roboto-Light-webfont.woff') format('woff'),
         url('../css/fonts/roboto_light_spanish/Roboto-Light-webfont.ttf') format('truetype'),
         url('../css/fonts/roboto_light_spanish/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../css/fonts/roboto_lightcondensed_spanish/RobotoCondensed-Light-webfont.eot');
    src: url('../css/fonts/roboto_lightcondensed_spanish/RobotoCondensed-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/roboto_lightcondensed_spanish/RobotoCondensed-Light-webfont.woff') format('woff'),
         url('../css/fonts/roboto_lightcondensed_spanish/RobotoCondensed-Light-webfont.ttf') format('truetype'),
         url('../css/fonts/roboto_lightcondensed_spanish/RobotoCondensed-Light-webfont.svg#roboto_condensedlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../css/fonts/roboto_lightitalic_spanish/RobotoCondensed-LightItalic-webfont.eot');
    src: url('../css/fonts/roboto_lightitalic_spanish/RobotoCondensed-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/roboto_lightitalic_spanish/RobotoCondensed-LightItalic-webfont.woff') format('woff'),
         url('../css/fonts/roboto_lightitalic_spanish/RobotoCondensed-LightItalic-webfont.ttf') format('truetype'),
         url('../css/fonts/roboto_lightitalic_spanish/RobotoCondensed-LightItalic-webfont.svg#roboto_condensedlight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Black';
    src: url('../css/fonts/roboto_black_spanish/Roboto-Black-webfont.eot');
    src: url('../css/fonts/roboto_black_spanish/Roboto-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/roboto_black_spanish/Roboto-Black-webfont.woff') format('woff'),
         url('../css/fonts/roboto_black_spanish/Roboto-Black-webfont.ttf') format('truetype'),
         url('../css/fonts/roboto_black_spanish/Roboto-Black-webfont.svg#robotoblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Regular';
    src: url('../css/fonts/roboto_regular_spanish/Roboto-Regular-webfont.eot');
    src: url('../css/fonts/roboto_regular_spanish/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/roboto_regular_spanish/Roboto-Regular-webfont.woff') format('woff'),
         url('../css/fonts/roboto_regular_spanish/Roboto-Regular-webfont.ttf') format('truetype'),
         url('../css/fonts/roboto_regular_spanish/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: Source_code_pro;
    src:url("css/SourceCodePro-Light.otf") format("otf")}


body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    
    padding: 0;
    margin: 0;
	color:white;
    font-family: 'Roboto Light',sans-serif;
	
	}



table {
    border-spacing: 0;    
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}


/* Custom CSS
 * --------------------------------------- */
body{
	
	color: #333;
	color: rgba(0,0,0,0.5);
    font-family: Source_code_pro;
    
}
    
}
.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}
h1{
	font-size: 6em;	
}
p{
	font-size: 2em;
}
.intro p{
	width: 50%;
	margin: 0 auto;
	font-size: 1.5em;
}
.section{
	text-align:center;
	width:100%;
	height:100%;
}


.slide{
	padding: 6% 0 0 0;
	}

.slidemini{
	padding: 6% 0 0 0;
	}




/*CSS DE LAS DIFERENTES SECCIONES*/	
	
#section1{
	/**background:url(../imgs/bg1.jpg);**/
    background-color: #333;
	padding: 6% 0 0 0;
	background-size: cover;
	}
	
/*elem#id.clase*/
div#slide1.slide{
		background-color:#4BBFC3;
		color:white;
		
		}
div#slide2.slide{
		background-color:#1bbc9b;
		color:white;
		
		}
div#slide3.slide{
		background-color:#7BAABE;
		color:white;
		
		}
div#slide4.slide{
		background-color:#1bbc9b;
		color:white;
		
		}


	
	
#section3{
	/**background:url(../imgs/bg3.jpg);
	padding: 6% 0 0 0;
	background-size: cover;
	background:url(../imgs/bg4.jpg);
	background-size: cover;
	position:relative;	**/
    
	}

#section3_1a{
    width:100%;
    height:50%;
    background-color:red;


}

#section3_2a{
    width:100%;
    height:50%;
    background-color:blue;
    position: relative;

}

#primera{
    width:33.3333%;
    height:100%;
    background-color:green;
    float: left;
    background-size:cover; 
}

#segunda{
    float:left;
    /**width: 34.001%;**/
    width:33.3333%;
    height: 100%;
    background-color: red;
    background-image: url(../images/bar2.jpg);
}

#tercera{
    width:33.3333%;
    height:100%;
    background-color:yellow;
    float: right;
    background-image: url(../images/bar3.jpg);
}




#section4{
	
	
	}

#section4_1a{
    width:100%;
    height:50%;
    background-color:black;
}


#section4_2a{
    width:100%;
    height:50%;
    background-color:blue;
    position: relative;

}


#primera_dos{
    width:33%;
    height:100%;
    background-color:green;
    float: left;
    background-image: url(../images/bar1.jpg);
}

#segunda_dos{
    float:right;
    width: 34%;
    height: 100%;
    background-color: red;
    background-image: url(../images/bar2.jpg);
}

#tercera_dos{
    width:33%;
    height:100%;
    background-color:yellow;
    float: right;
     background-image: url(../images/bar3.jpg);
}








#primera2{
    width:33%;
    height:100%;
    background-color:green;
    float: left;
     background-image: url(../images/bar1.jpg);
}

#segunda2{
    float:right;
    width: 34%;
    height: 100%;
    background-color: red;
    background-image: url(../images/bar2.jpg);
}

#tercera2{
    width:33%;
    height:100%;
    background-color:yellow;
    float: right;
     background-image: url(../images/bar3.jpg);
}







#section5{
	
	background:url(../imgs/bg4.jpg);
	background-size: cover;
	position:relative;	
	
	}
	
}



/*****MENU ITEM*******/

#menuitems{
    margin: 0;
  
font-family: 'Roboto Light', sans-serif;
font-size: 25px;
font-weight: 600;
    text-align: center;
}
ul#menuitems li{
	display:inline-block;
	color: #fff;   
}


ul#menuitems li.active{
	/**background: rgba(0,0,0, 0.5);**/
	color: #fff;
   
   
    

}
ul#menuitems li a{
	color: #fff;
    letter-spacing: 0.15em;
    text-decoration: none;
    display: inline-block;
  padding: 15px 20px;
  position: relative;
}

ul#menuitems li a:after{
	color: #fff; 
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

ul#menuitems li a:hover:after{
	color: #fff;
     width: 100%; 
  left: 0; 
}


ul#menuitems li.active a:hover{
    
	
    
}

ul#menuitems li a:hover{
	
    
    
}

ul#menuitems li:hover{
    color: rgba(255, 255, 255, 0.5);
   

}
ul#menuitems li a,
ul#menuitems li.active a{
	padding: 9px 18px;
	display:block;
    
}
ul#menuitems li.active a{
	
}















#menu li {
	display:inline;
	margin: 5px;
	color: #000;
	background:#fff;
	background: rgba(255,255,255, 0.5);
	-webkit-border-radius: 10px; 
            border-radius: 10px; 
}
#menu li.active{
	background:#666;
	background: rgba(0,0,0, 0.5);
	color: #fff;
}
#menu li a{
	text-decoration:none;
	color: #000;
}
#menu li.active a:hover{
	color: #000;
}
#menu li:hover{
	background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
	padding: 9px 10px;
	display:block;
}
#menu li.active a{
	color: #fff;
}
#menu{
	top:0;
	left:40px;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
	display:inline-block;
}
.twitter-share-button{
	position: fixed;
	z-index: 99;
	right: 149px;
	top: 9px;
}
#download{
	margin: 10px 0 0 0;
	padding: 15px 10px;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #49afcd;
	background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -ms-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -webkit-gradient(linear,0 0,0 100%,from( #5bc0de),to( #2f96b4));
	background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: linear-gradient(top, #5bc0de, #2f96b4);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#2f96b4', GradientType=0);
	border-color: #2f96b4 #2f96b4 #1f6377;
	border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	vertical-align: middle;
	cursor: pointer;
	display: inline-block;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}
#download a{
	text-decoration:none;
	color:#fff;
}
#download:hover{
	text-shadow: 0 -1px 0 rgba(0,0,0,.25);
	background-color: #2F96B4;
	background-position: 0 -15px;
	-webkit-transition: background-position .1s linear;
	-moz-transition: background-position .1s linear;
	-ms-transition: background-position .1s linear;
	-o-transition: background-position .1s linear;
	transition: background-position .1s linear;
}
#infoMenu{
	height: 20px;
	color: #f2f2f2;
	position:fixed;
	z-index:70;
	bottom:0;
	width:100%;
	text-align:right;
	font-size:0.9em;
	padding:8px 0 8px 0;
}
#infoMenu ul{
	padding: 0 40px;
}
#infoMenu li a{
	display: block;
	margin: 0 22px 0 0;	
	color: #333;
}
#infoMenu li a:hover{
	text-decoration:underline;
}
#infoMenu li{
	display:inline-block;
	position:relative;
}
#examplesList{
	display:none;
	background: #282828;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding: 20px;
	float: left;
	position: absolute;
	bottom: 29px;
	right: 0;
	width:638px;
	text-align:left;
}
#examplesList ul{
	padding:0;
}
#examplesList ul li{
	display:block;
	margin: 5px 0;
}
#examplesList ul li a{
	color: #BDBDBD;
	margin:0;
}
#examplesList ul li a:hover{
	color: #f2f2f2;
}
#examplesList .column{
	float: left;
	margin: 0 20px 0 0;
}
#examplesList h3{
	color: #f2f2f2;
	font-size: 1.2em;
	margin: 0 0 15px 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.1);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
	padding: 0 0 5px 0;
}



/* Demos Menu
 * --------------------------------------- */
 #demosMenu{
	position:fixed;
	bottom: 10px;
	right:10px;
	z-index: 999;
 }

/****HEADER Y FOOTER****/
#header, #footer{
		position:fixed;
		height: 50px;
		display:block;
		width: 100%;
		background-color:rgba(78,78,78,0.5);
		z-index:9;
		text-align:center;
		color: #f2f2f2;
		padding: 0px 0 0 0;
	}

	#header{
		top:0px;
	}
	#footer{
		bottom:0px;
	}

#header-nofix{
		height: 50px;
		display:block;
		width: 100%;
		background-color:transparent;
		z-index:9;
		text-align:center;
		color: #f2f2f2;
		padding:20px 0 0 0;
	}










<!--SLIDESHOW-->

.cb-slideshow,
.cb-slideshow:after { 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0; 
    color: white;
}
.cb-slideshow:after { 
    content: '';
    /*background: transparent url(../images/pattern.png) repeat top left; */
    background: transparent  repeat top left; 
}
.cb-slideshow li span { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
	-webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 36s linear infinite 0s;
    -moz-animation: imageAnimation 36s linear infinite 0s;
    -o-animation: imageAnimation 36s linear infinite 0s;
    -ms-animation: imageAnimation 36s linear infinite 0s;
    animation: imageAnimation 36s linear infinite 0s; 
}
.cb-slideshow li div { 
    z-index: 1000;
    position: absolute;
    bottom: 30px;
    left: 0px;
    width: 100%;
    text-align: center;
    opacity: 0;
    color: #000;
    -webkit-animation: titleAnimation 36s linear infinite 0s;
    -moz-animation: titleAnimation 36s linear infinite 0s;
    -o-animation: titleAnimation 36s linear infinite 0s;
    -ms-animation: titleAnimation 36s linear infinite 0s;
    animation: titleAnimation 36s linear infinite 0s; 
    
}



.cb-slideshow li div h3 { 
   /** font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;**/
    font-family: "Roboto Light", sans-serif;
    font-size: 150px;
    padding: 20px;
    line-height: 200px;
    color: white;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    
}

.cb-slideshow li div h2 { 
    /**font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;**/
     font-family: "Roboto Light", sans-serif;
    font-size: 80px;
    padding: 20px;
    line-height: 100px;
    color: red;
}




.cb-slideshow li:nth-child(1) span { 
    background-image: url(../imgs/villa1.jpg);
    -webkit-filter: blur(1px);
}
.cb-slideshow li:nth-child(2) span { 
    background-image: url(../imgs/noche4estrellas.png);
    -webkit-filter: blur(1px);
    
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s; 

}
.cb-slideshow li:nth-child(3) span { 
    background-image: url(../imgs/encuentroscon.png);
    -webkit-filter: blur(1px);
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s; 

}
.cb-slideshow li:nth-child(4) span { 
    background-image: url(../imgs/bg4.jpg);
    -webkit-filter: blur(1px);
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s; 

}
.cb-slideshow li:nth-child(5) span { 
    background-image: url(../imgs/bg2.jpg);
    -webkit-filter: blur(1px);
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s; 

}
.cb-slideshow li:nth-child(6) span { 
    background-image: url(../imgs/bg5.jpg);
    -webkit-filter: blur(1px);
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    -ms-animation-delay: 30s;
    animation-delay: 30s; 
}
.cb-slideshow li:nth-child(2) div { 
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s; 
}
.cb-slideshow li:nth-child(3) div { 
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s;
    
}
.cb-slideshow li:nth-child(4) div { 
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s; 
}
.cb-slideshow li:nth-child(5) div { 
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s; 
}
.cb-slideshow li:nth-child(6) div { 
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    -ms-animation-delay: 30s;
    animation-delay: 30s; 
}
/* Animation for the slideshow images */
@-webkit-keyframes imageAnimation { 
    0% { opacity: 0;
    -webkit-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -webkit-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@-moz-keyframes imageAnimation { 
    0% { opacity: 0;
    -moz-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -moz-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@-o-keyframes imageAnimation { 
    0% { opacity: 0;
    -o-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -o-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@-ms-keyframes imageAnimation { 
    0% { opacity: 0;
    -ms-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -ms-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@keyframes imageAnimation { 
    0% { opacity: 0;
    animation-timing-function: ease-in; }
    8% { opacity: 1;
         animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
/* Animation for the title */
@-webkit-keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
@-moz-keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
@-o-keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
@-ms-keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
@keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
/* Show at least something when animations not supported */
.no-cssanimations .cb-slideshow li span{
	opacity: 1;
}

@media screen and (max-width: 1140px) { 
    .cb-slideshow li div h3 { font-size: 140px }
}
@media screen and (max-width: 600px) { 
    .cb-slideshow li div h3 { font-size: 80px }
}


/**HOVER EN IMAGENES***/
 
.thumbnail {
    position:relative;
    overflow:hidden;
    width: 100%;
    height: 100%;
    background: cover;
}
 
.caption {
    position:absolute;
    top:0;
    right:0;
    background:rgba(66, 139, 202, 0.75);
    width:100%;
    height:100%;
    padding-top: 30%;
    display: none;
    text-align:center;
    color:#fff !important;
    z-index:2;
}



/***BOTONES DE IMAGENES***/

/* Border Fade */
.border-fade {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: inset 0 0 0 4px #e1e1e1, 0 0 1px rgba(0, 0, 0, 0);
  /* Hack to improve aliasing on mobile/tablet devices */
}
.border-fade:hover, .border-fade:focus, .border-fade:active {
  box-shadow: inset 0 0 0 4px #666666, 0 0 1px rgba(0, 0, 0, 0);
  /* Hack to improve aliasing on mobile/tablet devices */
}


.button {
  margin: .4em;
  padding: 1em;
  cursor: pointer;
  background: transparent;
  text-decoration: none;
  color: #e1e1e1;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}





