@font-face {
    font-family: 'Roboto';
    src: url('../css/fonts/roboto_light_spanish/Roboto-Light-webfont.eot');
    src: url('../css/fonts/roboto_light_spanish/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/roboto_light_spanish/Roboto-Light-webfont.woff') format('woff'),
         url('../css/fonts/roboto_light_spanish/Roboto-Light-webfont.ttf') format('truetype'),
         url('../css/fonts/roboto_light_spanish/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Roboto Black';
    src: url('../css/fonts/roboto_black_spanish/Roboto-Black-webfont.eot');
    src: url('../css/fonts/roboto_black_spanish/Roboto-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/roboto_black_spanish/Roboto-Black-webfont.woff') format('woff'),
         url('../css/fonts/roboto_black_spanish/Roboto-Black-webfont.ttf') format('truetype'),
         url('../css/fonts/roboto_black_spanish/Roboto-Black-webfont.svg#robotoblack') format('svg');
    font-weight: normal;
    font-style: normal;
}



#roboto{
    font-family: 'Roboto',sans-serif;
    font-size: 40px;
}

#roboto_black{
    font-family: 'Roboto Black',sans-serif;
    font-size: 40px;
}